@use "./variables" as *;

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  font-weight: 400;
  line-height: 1.28;

  &.body--sunny {
    background: var(--background-sunny);
  }

  &.body--rain {
    background: var(--background-rain);
  }

  &.body--thunder {
    background: var(--background-thunder);
  }
  &.body--haze {
    background: var(--background-haze);
  }
  &.body--cloudy {
    background: var(--background-cloudy);
  }
}

a,
button,
input,
svg * {
  transition-duration: var(--transition-duration);
}

span {
  font-size: 2.5rem;
}
