:root {
  --background-sunny: linear-gradient(137deg, #33a0fb, #066bbf);
  --background-rain: linear-gradient(137deg, #707bff, #0005a7);
  --background-thunder: linear-gradient(137deg, #5f5f5f, #070047);
  --background-haze: linear-gradient(137deg, #9f9f9f, #5e7589);
  --background-cloudy: linear-gradient(137deg, #8da6bb, #4b6e8b);

  --color-text: #f5f5f5;
  --color-text-input: #473c63;

  --padding-input: 10px 12px;

  --border: 2px solid rgba(255, 255, 255, 0.5);

  --transition-duration: 0.3s ease;
}
